/* try :active to get better woosh */

* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: #121827;
  min-height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calc-container {
  border: 4px solid whitesmoke;
  height: 48em;
  width: 40em;
  box-sizing: border-box;
}

#display {
  height: 25%;
  background-color: rgb(195, 195, 195);
  font-size: 3em;
  font-weight: bold;
  color: rgb(40, 40, 40);
  box-sizing: border-box;
  padding: 1em;
  text-align: end;
  border: 2px solid rgb(40, 40, 40);
}

#btn-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 75%;
  overflow: hidden;
  gap: 2px;
}

#clear:hover {
  color: deeppink;
  border: 2px solid deeppink;
}

#calculate:hover {
  color: mediumslateblue;
  border: 2px solid mediumslateblue;
}

#footer {
  font-size: .85em;
  color: whitesmoke;
  text-align: center;
  padding-top: 2em;
}

.btn-row {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  gap: 2px;
  /* background-color: aquamarine; */
}

.btn {
  color: whitesmoke;
  height: 100%;
  width: 100%;
  background-color: rgba(40, 40, 40, .65);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease;
  font-size: 2em;
  border-radius: 12px;
  border: 2px solid rgba(40, 40, 40, .65);
  box-sizing: border-box;
}

.btn:hover {
  background-color: rgba(140, 140, 140, .35);
  cursor: pointer;
  transition: all 200ms ease;
  font-weight: bold;
  font-size: 2.2em;
  color: aquamarine;
  border: 2px solid aquamarine;
  box-sizing: border-box;
}